.App {
    display: flex;
    .AppContainer {
        flex: 6;
    }
    .pageTitle {
        color: rgb(90, 117, 74);
        font-size: 35px;
        margin-top: 10px;
        margin-left: 15px;
    }
}
